:root {
  --back: #704c5b;
  --front: #ffffff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  background: unset;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  vertical-align: middle;
  text-decoration-line: none;
}

body {
  width: 100vw;
  height: 100vh;
}

#app {
  background-color: var(--back);
  color: var(--front);
  width: 100vw;
  height: max-content;

  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header > img:first-child {
  max-width: 100vw;
  width: 400px;
}
